#container{
    width:85%;
    align-self: center;
    align-items: center;
    margin: 2em auto; 
    margin-top: 0px;
}

table{
    padding-bottom: 200px;
}


#favouriteBtn{
    background-color: white;
    border:none;
    margin-left: 20px;
}

#notFavouriteBtn{
    background-color: white;
    border:none;
    margin-left: 20px;
}