.footer {
    bottom: 0;
    /* position:fixed; */
    margin-top: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 31, 31);
}

.rights {
    color: white;
    text-align: right;
}

.eg-link {
    color: inherit;
    text-decoration: inherit;
}