<mat-card>
    <mat-card-content>
        <div id="up-container">
            <img src="../../../assets/images/{{passenger.profilePicture}}" id="profilePicture">
            <button mat-mini-fab id="updatePic"><mat-icon>link</mat-icon> </button>
            <div id="up-fields">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" name="name" [(ngModel)]="passenger.name" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Last Name" name="surname" [(ngModel)]="passenger.surname" required>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="largerMargine">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" name="address" [(ngModel)]="passenger.address" required>
        </mat-form-field>
        <mat-form-field class="largerMargine">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" name="telephoneNumber" [(ngModel)]="passenger.telephoneNumber" required>
        </mat-form-field>
        <mat-form-field class="largerMargine">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" [(ngModel)]="passenger.email" required>
        </mat-form-field>

        <div id="buttons">
            <button (click)="changingPassword()" mat-raised-button id="changeBtn"><span>CHANGE PASSWORD</span></button>
            <button (click)="updatePassenger()" mat-raised-button id="saveBtn"><span>SAVE CHANGES</span></button>
        </div>

        <change-password 
            (showWindow)="update($event)"
            *ngIf="showChangePassword">
        </change-password>

    </mat-card-content>
</mat-card>
