mat-card {
    max-width: 750px;
    margin: 20px auto;
    height:540px;
}

mat-card-content{
    margin: 10px;
}

#picture {
    width: fit-content;
    margin: 0px auto;
}

#carPicture {
    width: 350px;
    border-radius: 20px;
    margin: 0px auto;
    
}

#updatePic {
    background-color: #E39D5C;
}

#carInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

#leftInfo {
    width: 50%;
}

#rightInfo {
    width: 30%;
    margin-left: 20%;
    text-align: left;
}

#confirm {
    text-align: center;
}


#validateBtn {
    background-color: #DDDDDD;
    margin-top: 10px;
}
