<body>
  <p>. </p>
  <div id="container">
  <mat-card>
      <mat-card-content>
        <form #loginForm="ngForm">
          <h2 color="primary">WELCOME!</h2>
  <!--   <mat-error>
            The username and password were not recognized
          </mat-error>
  -->
          <mat-form-field>
            <input matInput placeholder="Email" type="text" name="email" [(ngModel)]="email" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button id="lgButton"  [disabled]="!loginForm.form.valid" (click)="login()"><span>LOGIN </span></button>
        </form>
      </mat-card-content>
      <div id="fPass">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          Forgot password?
        </a>
      </div>
      <button mat-stroked-button id="conBtn" color="accent">Continue with Google</button>
      <button mat-stroked-button id="conBtn" color="accent">Continue with Facebook</button>
    </mat-card>
    </div>
</body>