
mat-card {
    max-width: 360px;
    /* margin: 2em auto; */
    height:540px;
    margin-top: 150px;
    margin-left: 1200px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}
  
td {
  padding-right: 8px;
}

#homeMap{
  height: 85%;
  width: 70%;
  margin-left: 20px;
  left: 0px;
  top:10%;
  position: absolute;
}

span{
    color: white;
}

#inviteBtn{
    background-color: #E39D5C;
}

#select{

    margin-top: 30px;
}

#goBtn{
    background-color: #E39D5C;
    margin-left: 5px;
}

#laterBtn{
    background-color: #E39D5C;
    margin-left: 100px;
}

mat-chip{
    background-color: #E39D5C;
    margin-top: 25px;
    margin-left:20px;
    width:86px;
}

#buttons{
    margin-top: 40px;
}