<body>
<mat-card *ngIf = "show">
    <div id = "mapContainer" fxFlex>
        <app-map id="map"></app-map>
    </div>
    <div id="tableDiv" fxFlex>
        <table>
            <tr>
                <td> <span id="name"> FROM: </span> </td>
                <td><span id="data">{{ride.departure.split(",")[0].toUpperCase()}} </span></td>
            </tr>
            <tr> 
                <td> <span id="name"> TO: </span></td>
                <td><span id="data">{{ride.destination.split(",")[0].toUpperCase()}} </span></td>
            </tr>
            <tr>
                <td> <span id="name"> DRIVER: </span></td>
                <td><span id="data">{{ride.driver.email.toUpperCase()}} </span></td>
            </tr>

            <tr>
                <td> <span id="name"> VEHICLE TYPE: </span></td>
                <td><span id="data">{{ride.vehicleType}} </span></td>
            </tr>
            <tr>
                <td> <span id="name"> PRICE: </span></td>
                <td><span id="data">{{ride.totalCost + "DIN"}} </span></td>
            </tr>
        
            <tr *ngIf="reviewsExist">
                <td><span id="name"> REVIEWS:</span></td>
            </tr>
            <tr *ngFor="let r of reviews">
                <td> <span id="rating">BY {{r.passenger.name.toUpperCase() + " " + r.passenger.surname.toUpperCase()}}: </span></td>
                <td> <span id="dataRating"> {{r.rating + "/5 "}} {{"'" + r.comment.toUpperCase() + "'"}}</span></td>
            </tr>
        </table>
        <div *ngIf="!gradedByThisUser" id="gradeDiv"> 
            <input name="grade" placeholder="Grade(1-5)" id="grading">
            <input name="comment" placeholder="Comment" id="grading">
            <button id="gradeButton" type="submit">GRADE</button>
        </div>
    </div>
    <span class = "buttons">
    <button mat-stroked-button id="now"> ORDER NOW </button>
    <button mat-stroked-button id="later"> LATER </button>
    <button mat-stroked-button (click)="close()" id="okButton"> OK </button>
    </span>
</mat-card>
