<mat-toolbar color="primary" class="mat-elevation-z5">
    <span class="logo">easy<span class="orangeLogo">GO</span></span>
    <div class="spacer"></div>
    <div>
    <a mat-button (click)="homeClicked()" [ngStyle]="{'color': currentClicked == 'home'? 'orange' : 'white' }" color="white" routerLink="/passengerHome" >HOME</a>
    <a mat-button (click)="profileClicked()" [ngStyle]="{'color': currentClicked == 'profile'? 'orange' : 'white' }" color="white" routerLink="/user-profile/:passengerId" >PROFILE</a> 
    <a mat-button (click)="historyClicked()" [ngStyle]="{'color': currentClicked == 'history'? 'orange' : 'white' }" color="white" >HISTORY</a>
    <a mat-button (click)="reportsClicked()" [ngStyle]="{'color': currentClicked == 'reports'? 'orange' : 'white' }" color="white" >REPORTS</a>
    <a mat-button (click)="logoutClicked()" color="accent" id="logoutBtn" routerLink="">LOGOUT</a>
    <a mat-button (click)="supportClicked()" [ngStyle]="{'color': currentClicked == 'support'? 'orange' : 'white' }" color="white" routerLink="/support">SUPPORT</a>
    </div>
</mat-toolbar>
<support-chat *ngIf="currentClicked == 'support'"></support-chat>

