mat-card {
    max-width: 400px;
    margin: 20px auto;
    height:250px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
}

#passwords {
    /* margin: 30px; */
}

#buttons {
    padding-top: 20px;
    text-align: center;
}

#confirmBtn {
    background-color: #E39D5C;
    color: white;
    margin: 0px 41px;
    /* float: left; */
}

#cancelBtn {
    background-color: #DDDDDD;
    margin: 0px 41px;
    /* float: right; */
}
