<mat-card *ngIf="showChangePassword">

    <div id="passwords">
        <mat-form-field>
            <mat-label>Previous password</mat-label>
            <input matInput type="password" placeholder="Previous password" name="previousPassword" [(ngModel)]="previousPassword" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" placeholder="New password" name="newPassword" [(ngModel)]="newPassword" required>
        </mat-form-field>
    </div>

    <div id="buttons">
        <button (click)="changePassword()" mat-raised-button id="confirmBtn"><span>CONFIRM</span></button>
        <button (click)="hideChangePassword()" mat-raised-button id="cancelBtn"><span>CANCEL</span></button>
    </div>

</mat-card>
