<mat-card>
    <p id="title">RIDE IS OVER</p>

    <table>
        <tr>
            <td class="ride">FROM:</td>
            <td class="info">Nikole Tesle 20</td>
        </tr>
        <tr>
            <td class="ride">TO:</td>
            <td class="info">Mihajla Pupina 5</td>
        </tr>
        <tr>
            <td class="ride">DRIVER:</td>
            <td class="info">Dejan Stankovic</td>
        </tr>
        <tr>
            <td class="ride">PRICE:</td>
            <td class="info">200 RSD</td>
        </tr>
        <tr>
            <td class="ride">RATE:</td>
            <td class="info">Zvezdice</td>
        </tr>
        <tr>
            <td class="ride">MESSAGE:</td>
            <td class="info">
                <input matInput id="ride-description" placeholder="Ride description" name="description">
            </td>
        </tr>
    </table>

    <div id="close"><button mat-raised-button id="closeBtn"><span>CLOSE</span></button></div>


</mat-card>