<p>
    <img id="homeMap" src="/assets/images/maps1.jpg">
</p>
<mat-card>
<mat-card-content>
    <form class="form">
        <mat-form-field class="example-full-width">
            <mat-label>Start destination</mat-label>
            <input matInput placeholder="Ex. Trg Slobode 4">
            <mat-icon matSuffix color="primary">flag</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Final destination</mat-label>
            <input matInput placeholder="Ex. Narodni Front 4">
            <mat-icon matSuffix color="primary">flag</mat-icon>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="showEstimate()" id="checkBtn"><span>CHECK</span></button>
</mat-card-content>
</mat-card>
<app-unreg-info *ngIf="estimateShow"></app-unreg-info>