<body>
  <p>.</p>
<mat-card *ngIf="!activating">
    <mat-card-content>
      <form #loginForm="ngForm">
        <h2 color="primary">SIGN IN NOW</h2>
        <div id="pair">
        <mat-form-field id="pairField1">
          <input matInput placeholder="Name" name="name" [(ngModel)]="name" required>
        </mat-form-field>
        <mat-form-field id="pairField2">
            <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="surname" required>
        </mat-form-field>
        </div>
        <div id="pair">
        <mat-form-field id="pairField1">
            <input matInput placeholder="Address" name="address" [(ngModel)]="address" required>
        </mat-form-field>
        <mat-form-field id="pairField2">
            <input matInput placeholder="Phone" name="phone" [(ngModel)]="telephoneNumber" required>
        </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput placeholder="Email" name="email" [(ngModel)]="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm password" name="password" [(ngModel)]="confirmPassword" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
        </mat-form-field>
        <!-- [disabled]="!loginForm.form.valid" - izbacio sam disabled jer nece da reaguje na click ako je dugme disable -->
        <button mat-raised-button id="sgButton" color="accent" (click)="submit()"><span>SIGN UP</span></button>
      </form>
    </mat-card-content>
    <button mat-stroked-button id="conBtn" color="accent">Continue with Google</button>
    <button mat-stroked-button id="conBtn" color="accent">Continue with Facebook</button>
  </mat-card>




  <div id="act" *ngIf="activating">
    <mat-form-field id="formField">
        <mat-label>Please enter your activation ID so that we can confirm your email</mat-label>
        <input matInput placeholder="Activation ID" [(ngModel)] = "activationId" id="inp">
    </mat-form-field>
    <br>
    <button mat-raised-button id="confirmBtn" (click)="submitActivation()">CONFIRM</button>
</div>





  </body>



