<mat-card>
    <mat-card-content>
        <div id="picture">
            <img src="../../../assets/images/car.jpg" id="carPicture">
            <button mat-mini-fab id="updatePic"><mat-icon>link</mat-icon> </button>
        </div>

        <div id="carInfo">
            <div id="leftInfo">
                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <input matInput placeholder="Model" name="model" value="Honda" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Registration number</mat-label>
                    <input matInput placeholder="Registration number" name="regNumber" value="DTK-452-3L" required>
                </mat-form-field>
            </div>
    
            <div id="rightInfo">
                <mat-form-field appearance="fill" id="select">
                    <mat-label>Car type</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let type of carTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <section>
                    <mat-checkbox class="example-margin"> Baby </mat-checkbox>
                    <br>
                    <mat-checkbox class="example-margin"> Pet </mat-checkbox>  
                </section>            
            
            </div>
            <button mat-raised-button id="validateBtn"><span>VALIDATE CHANGES</span></button>
        </div>
    </mat-card-content>
    <div id="end-button">
        
    </div>
</mat-card>
