mat-label{
    font-size: 18px;
  }
  
  #confirmBtn{
    background-color: #E39D5C;
    color:white;
    float:right;
  
  }
  
  #act{
    margin-top: 550px;
    margin-left: 350px;
    width:600px;
  }
  
  #inp{
    width:600px;
  }
  
  #formField{
    width:600px;
  }

.spacer{
flex: 1 1 auto;

}
.logo{
    font-size:xx-large;
    font:roboto;
}
.orangeLogo{
    color:#E39D5C;

}
mat-toolbar{
   z-index:1000;
   top:0;
   left:0;
   position:fixed;
    
}