<mat-card>
    <mat-card-content>
        <form class="form">
            <mat-form-field class="example-full-width">
                <mat-label>Start destination</mat-label>
                <input matInput id="startLocation" placeholder="Ex. Trg Slobode 4">
                <mat-icon matSuffix color="primary">flag</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Final destination</mat-label>
                <input matInput id="endLocation" placeholder="Ex. Narodni Front 4">
                <mat-icon matSuffix color="primary">flag</mat-icon>
            </mat-form-field>
        </form>

    <button (click)="inviteFriends()" mat-raised-button id="inviteBtn"><span>INVITE FRIENDS</span></button>
    <br>
    <div *ngFor="let f of friends" class="friend">
        <mat-chip *ngIf="f.invited" color="accent">{{f.passenger.name}} {{f.passenger.surname}}<mat-icon matChipRemove (click)="uninviteFriend(f)">cancel</mat-icon></mat-chip>
    </div>
    <!-- <mat-chip color="accent">Ana <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
    <mat-chip color="accent">Marko <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
    <mat-chip color="accent">Vlada <mat-icon matChipRemove>cancel</mat-icon></mat-chip> -->

    <mat-form-field appearance="fill" id="select">
        <mat-label>Car type</mat-label>
        <mat-select [(ngModel)]="ride.vehicleName">
            <mat-option *ngFor="let type of carTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <section>
        <mat-checkbox class="example-margin" [(ngModel)]="ride.babyTransport"> Baby </mat-checkbox>
        <br>
        <mat-checkbox class="example-margin" [(ngModel)]="ride.petTransport"> Pet </mat-checkbox>  
    </section>

    <div id="buttons">
        <button (click)="orderRide()" mat-stroked-button id="goBtn"><span>GO! </span></button>
        <button mat-stroked-button id="laterBtn"><span>BOOK FOR LATER </span></button>
    </div>
    </mat-card-content>
</mat-card>

