mat-label{
    font-size: 18px;
}

#confirmBtn{
    background-color: #E39D5C;
    color:white;
    float:right;

}

#act{
    margin-top: 250px;
    margin-left: 450px;
    width:600px;
}

input{
    width:550px;
}

#formField{
    width:600px;
}