<!-- <div   fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0" class="container">
    <div class="map" fxFlex="70%">
        <app-map></app-map>
    </div>
    <div fxFlex="30%">
        <app-reg-form></app-reg-form>
    </div>
</div> -->

<div fxlayout="row">

    <!-- <driver-next-rides fyFlex="20"></driver-next-rides> -->
    <div class="map"  style="margin-top: 600px">
        <app-map></app-map>
    </div>
    <driver-next-rides fyFlex="80" ></driver-next-rides>
</div>
<!-- <div fxlayout="column" fxLayoutAlign="space-evenly center" style="background-color: red;">
    
</div> -->