<mat-card>
    <div id="next-rides-title">NEXT RIDES</div>

    <div *ngFor="let r of rides" class="ride">
        <span class="rideDescription">R{{r.id}}</span>
        <span class="rideDescription">{{r.startPoint}}</span>
        <span class="rideDescription">{{r.endPoint}}</span>
        <button mat-raised-button id="goBtn">GO</button>
        <button mat-raised-button (click)=" cancelClick()" id="cancelBtn">CANCEL <mat-icon>cancel</mat-icon> </button>    
    </div>

</mat-card>

<app-active-button></app-active-button>