<!-- ZNACI AKO STAVIM MARGINE U STYLE ATRIBUT U HTML-U ONDA RADI. AKO SVE OVO POMJERIM U CSS NECE DA RADI... ZATO JE OVDE U HTML-U. -->
<invite-friend *ngIf="invitedFriends" style="position: absolute; width: 400px; margin-left: 770px; margin-top: 300px;"></invite-friend>

<mat-card>
    <mat-card-content>
        <form class="form">
            <mat-form-field class="example-full-width">
                <mat-label>Start destination</mat-label>
                <input matInput placeholder="Ex. Trg Slobode 4">
                <mat-icon matSuffix color="primary">flag</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Final destination</mat-label>
                <input matInput placeholder="Ex. Narodni Front 4">
                <mat-icon matSuffix color="primary">flag</mat-icon>
            </mat-form-field>
        </form>

    <button (click)="inviteFriends()" mat-raised-button id="inviteBtn"><span>INVITE FRIENDS</span></button>


   <!--<app-invite-friend *ngIf="invitedFriends"></app-invite-friend> -->
    <br>
    
    <mat-chip color="accent">Ana <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
    <mat-chip color="accent">Marko <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
    <mat-chip color="accent">Vlada <mat-icon matChipRemove>cancel</mat-icon></mat-chip>

    <mat-form-field appearance="fill" id="select">
        <mat-label>Car type</mat-label>
        <mat-select>
            <mat-option *ngFor="let type of carTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <section>
        <mat-checkbox class="example-margin"> Baby </mat-checkbox>
        <br>
        <mat-checkbox class="example-margin"> Pet </mat-checkbox>  
    </section>

    <div id="buttons">
        <button mat-stroked-button id="goBtn"><span>GO! </span></button>
        <button mat-stroked-button id="laterBtn"><span>BOOK FOR LATER </span></button>
    </div>
    </mat-card-content>
</mat-card>



