<mat-toolbar color="primary" class="mat-elevation-z5">
    <span class="logo">easy<span class="orangeLogo">GO</span></span>
    <div class="spacer"></div>

    <div *ngIf="role == 'unregistered'">
        <a id=" "  mat-button (click)="unregHomeClicked()" [ngStyle]="{'color': currentClicked == 'unregisteredHome'? 'orange' : 'white' }" color="white" routerLink="" >HOME</a>
        <a id="login"  mat-button (click)="loginClicked()" [ngStyle]="{'color': currentClicked == 'login'? 'orange' : 'white' }" color="white" routerLink="/login" >LOGIN</a> 
        <a id="registration"  mat-button (click)="registrationClicked()" [ngStyle]="{'color': currentClicked == 'registration'? 'orange' : 'white' }" color="white" routerLink="/registration" >SIGN UP</a>
    </div>
    <div  *ngIf="role == 'PASSENGER'">    
        <a id="passenger-home"   mat-button (click)="passengerHomeClicked()" [ngStyle]="{'color': currentClicked == 'passengerHome'? 'orange' : 'white' }" color="white" routerLink="/passengerHome" >HOME</a>
        <a id="passenger-profile"  mat-button (click)="passengerProfileClicked()" [ngStyle]="{'color': currentClicked == 'passengerProfile'? 'orange' : 'white' }" color="white" routerLink="/user-profile" >PROFILE</a> 
        <a id="passenger-history"  mat-button (click)="passengerHistoryClicked()" [ngStyle]="{'color': currentClicked == 'passengerHistory'? 'orange' : 'white' }" color="white" routerLink="passenger/rideHistory">HISTORY</a>
        <a id="passenger-reports"  mat-button (click)="passengerReportsClicked()" [ngStyle]="{'color': currentClicked == 'passengerReports'? 'orange' : 'white' }" color="white" routerLink="passengerReports" >REPORTS</a>
    </div>
    <div *ngIf="role=='DRIVER'">
        <a id="driver-home-page"  mat-button (click)="driverHomeClicked()" [ngStyle]="{'color': currentClicked == 'driverHome'? 'orange' : 'white' }" color="white" routerLink="/driverHome" >HOME</a>
        <a id="driver-profile-page" mat-button (click)="driverProfileClicked()" [ngStyle]="{'color': currentClicked == 'driverProfile'? 'orange' : 'white' }" color="white" routerLink="/driverProfile" >PROFILE</a> 
        <a id="driver-history" mat-button (click)="driverHistoryClicked()" [ngStyle]="{'color': currentClicked == 'driverHistory'? 'orange' : 'white' }" color="white" routerLink="driver/rideHistory" >HISTORY</a>
        <a id="driver-reports"  mat-button (click)="driverReportsClicked()" [ngStyle]="{'color': currentClicked == 'driverReports'? 'orange' : 'white' }" color="white" routerLink="driverReports" >REPORTS</a>
    </div>
    <div *ngIf="role=='ADMIN'">
        <a id="admin-home-page"  mat-button (click)="adminHomeClicked()" [ngStyle]="{'color': currentClicked == 'adminHome'? 'orange' : 'white' }" color="white" routerLink="/adminHome" >HOME</a>
        <a id="adminDriver" mat-button (click)="adminCreateDriverClicked()" [ngStyle]="{'color': currentClicked == 'createDriver'? 'orange' : 'white' }" color="white" routerLink="/users">USERS</a> 
        <a id="admin-history" mat-button (click)="adminHistoryClicked()" [ngStyle]="{'color': currentClicked == 'adminHistory'? 'orange' : 'white' }" color="white" routerLink="admin/rideHistory" >HISTORY</a>
        <a id="admin-reports"  mat-button (click)="adminReportsClicked()" [ngStyle]="{'color': currentClicked == 'adminReports'? 'orange' : 'white' }" color="white" routerLink="adminReports" >REPORTS</a>
        <a id="admin-notification"  mat-button (click)="driverReportsClicked()" [ngStyle]="{'color': currentClicked == 'driverReports'? 'orange' : 'white' }" color="white" >CHAT</a></div>


        <a *ngIf="role != 'unregistered'" id="support" mat-button (click)="supportClicked()" [ngStyle]="{'color': currentClicked == 'support'? 'orange' : 'white' }" color="white" routerLink="/support">SUPPORT</a>
        <a *ngIf="role != 'unregistered'" mat-button (click)="logoutClicked()" color="white" id="logoutBtn" routerLink="">LOGOUT</a>
        

</mat-toolbar>
<support-chat *ngIf="currentClicked == 'support'"></support-chat>

