mat-card{
    margin:2em auto;
    width:45%;
}

span{
    margin:18px;
}


#seeBtn{
    color:white;
    background-color: #E39D5C;
    border-radius: 5px;
    font-size:12px;
    border:none;
    margin-left:70px;
    margin-right:10px;
    height:23px;
    width:50px;
    box-shadow: 0px 1px 1px 1px rgb(200, 200, 198);
}


#cancelBtn{
    color:rgb(28, 27, 27);
    background-color: #a6a6a697;
    border-color: #504f4e95;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px rgb(200, 200, 198);
    font-size:13px;
    margin:10px;
    margin-right: 5px;
    height:23px;
    width:max-content;
}

span{
    font-size: 17px;
    color:rgb(59, 58, 58);
}

mat-icon{
    height:19px;
}