.container{
    margin:20px;
}
.overlaying {
  align-items: right;
}


.inviteFriends{
    z-index: 9;
    float:right;
   margin-top:30px;
}

.map{    
    width:100%;
    height:90%;
    position: absolute;
    top: 100px;
    left: 0;
    right:0;
    opacity: 0.9;
}
.id{
    width:100%;
}