<div   fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0" class="container">
    <div class="overlaying" fxFlex="70%">
        <div class="map" fxFlex="80%">
            <app-map (emitter)="pinToGetLocation($event)"></app-map>
        </div>
    </div>
    <div *ngIf="invitedFriends" class="inviteFriends">
        <invite-friend [passenger]="passenger" (emitter)="getFriends()"></invite-friend>
    </div>

    <div fxFlex="30%">
        <app-reg-form *ngIf="!rideInProgress" [mapComponent]="mapComponent" [friends]="friends" [passenger]="passenger" (emitter)="showInviteFriendsComponent()"></app-reg-form>
        <app-panic *ngIf="rideInProgress" [userId]="passenger.id" [activeRide]="activeRide" (rideNotInProggress)="rideNotInProggress($event)"></app-panic>
        <app-remark *ngIf="rideInProgress" [userId]="activeDriver.id" ></app-remark>
        <app-end-ride></app-end-ride>
        <app-ride-request></app-ride-request>
    </div>

</div>