<div   fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0" class="container">
    <div class="overlaying" fxFlex="70%">
        <div class="map" fxFlex="80%">
            <app-map></app-map>
        </div>
    </div>
    <div *ngIf="invitedFriends" class="inviteFriends">
        <invite-friend (emitter)="getFriends()"></invite-friend>
    </div>

    <div fxFlex="30%">
        <app-reg-form *ngIf="!activeRide" [friends]="friends" [passenger]="passenger" (emitter)="showInviteFriendsComponent()"></app-reg-form>
        <app-panic *ngIf="activeRide"></app-panic>
    </div>

</div>